<div class="hj-card">
  <div class="hj-card-grid-5">
    <div class="hj-card-item">
      <h1>{{ total_emp | shortNumber }}</h1>
      <p class="hj-label">Employers use HRINC Jobs online advertising solution</p>
    </div>
    <div class="hj-card-item">
      <h1>{{ total_vac | shortNumber }}</h1>
      <p class="hj-label">Vacancies announced on <a href="#">www.hrincjobs.com</a> </p>
    </div>
    <div class="hj-card-item">
      <h1>{{ total_vis | shortNumber }}</h1>
      <p class="hj-label">Website visited from anywhere at anytime</p>
    </div>
    <div class="hj-card-item">
      <h1>{{ total_imp | shortNumber }}</h1>
      <p class="hj-label"> Jobs seen by job seekers</p>
    </div>
    <div class="hj-card-item">
      <h1>{{ total_vie | shortNumber }}</h1>
      <p class="hj-label">Jobs viewed by job seekers</p>
    </div>
  </div>
</div>
