<p>property-binding works!</p>
<div class="container ">
  <div class="border">
    <div class="title">example 1</div>
    <div class="subtitle">What is Property Binding?</div>
    <div class="desc">Before understanding property binding, we must understand the difference between an HTML Attribute and a Document Object Model (DOM). Attributes are constants defined in HTML used to initialize the DOM properties, while the DOM properties refer to the current value of those attributes. HTML attributes remain unchanged. Property binding is used to assign a value to a given DOM property.

      In property binding, properties are directly enclosed in square brackets and assigned a value using single quotes. These values are generally defined in the component class. Property binding is unidirectional. This implies that the data flows only in one direction, from the component to the template. We can update the values defined in the component, which updates the view.  </div>
  </div>
  <input class="form-control w-50 mx-auto mt-5" type="text" placeholder="{{value}}">
</div>
