<!-- <div class="container">
  <div class="row">
    <div class="col-8">
      <mat-tab-group (selectedTabChange)="changeMainTab($event)">
        <mat-tab label="First"> Content 1 </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-4">
      <nav mat-tab-nav-bar mat-stretch-tabs="true">
        <p mat-tab-link disabled >Details</p>
      </nav>
      <mat-tab-group class="active_details" [selectedIndex]="mainTab" >
          <mat-tab disabled > detail_1 </mat-tab>
          <mat-tab disabled> detail_2 </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div> -->
<div class="hj-container hj-same-section-padding pt-5">
<app-hj-site-statistic></app-hj-site-statistic>
<div class="hj-card mt-5">
  <form [formGroup]="contactForm " (ngSubmit)="submitForm()" action="">
    <div class="p-5">
      <div class="text-center">
        <h1 class="">Contact Us</h1>
        <p>We do the best we can</p>
      </div>
      <div class="p-5 w-1/2 mx-auto">
        <mat-form-field class="w-full my-2">
          <mat-label>{{"fullName" | translate}}</mat-label>

          <mat-icon matSuffix mat-icon-button  class="cursor-pointer" aria-label="Clear" *ngIf="value" (click)="value=''">close</mat-icon>
          <input  matInput type="text" formControlName="name" [(ngModel)]="value" >
          <mat-error *ngIf="contactForm.get('name')?.hasError('required') ">{{"required" | translate}}</mat-error>
          <mat-error *ngIf="contactForm.get('name')?.hasError('minlength') ">{{"invalid" | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full my-2">
          <mat-label>{{"email" | translate}}</mat-label>
          <mat-icon class="cursor-pointer" matSuffix *ngIf="email_value" (click)="email_value=''">close</mat-icon>
          <input type="email" matInput placeholder="pat@example.com" formControlName="email" [(ngModel)]="email_value" >

          <mat-error *ngIf="contactForm.get('email')?.hasError('required')">{{"required" | translate}}</mat-error>
          <mat-error *ngIf="contactForm.get('email')?.hasError('email') ">{{"invalid" | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full my-2">
          <mat-label>{{"comment" | translate}}</mat-label>
          <textarea matInput #message maxlength="256"  placeholder="Ex. It makes me feel..." formControlName="comment" required></textarea>
          <mat-hint align="start">Don't disclose personal info</mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
    </div>

      <div class=" text-center">
        <button mat-flat-button [color]="contactForm.valid? 'primary' : 'secondary'"    class="rounded-pill px-4" [disabled]="!contactForm.valid" >{{"submit" | translate}}</button>
        <!-- <button mat-flat-button  (click)="openDialog()"  [ngClass]="{'btn_contact': contactForm.valid, 'btn_contact_disabled': !contactForm.valid}" class="rounded-pill px-4" [disabled]="!contactForm.valid" >{{"submit" | translate}}</button> -->
        <button mat-stroked-button class="mx-5" >Clear</button>
      </div>

    </div>
  </form>
</div>

</div>
