<div class="container w-75 mt-5 card shadow">
  <div class="card-body">
    <form>
      <div class="mb-3">
        <h4 class="text-dard text-muted">Login</h4>
        <label class="form-label">Email address</label>
        <input   type="email" class="form-control"  name="email" [(ngModel)]="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password" >
      </div>
      <button type="submit" class="btn btn-primary mb-3" (click)="login()">Login</button>
    </form>
    <div class="row">
      <div class="col-6">
        <a class="nav-link">Dont have an Account? <span class=" text-danger"  routerLink="/register">Register</span></a>
      </div>
      <div class="col-6">
        <a  class="nav-link" href="/forgot-password">Forget Password?</a>
      </div>
    </div>
    <!-- <div class=" border-bottom"></div> -->
    <div class="row">
    <div class="col-12 border-bottom my-4"></div>
    <div class="col-4 mx-auto">
      <a href="" class="nav-link  text-center border rounded-pill" (click)="signInWithGoogle()">
            <img src="../../../assets/images/google.png" width="50px" alt="">
            <span>with Google</span>
      </a>
      </div>
    </div>
  </div>
</div>

