<h1>login</h1>
<div class="container ">
  <div class="row mt-5 ">
    <div class="col">
      <div class="card shadow">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <h4 class="text-dark text-muted">Login</h4>
            </div>
            <div class="mb-3">

<!-- email  -->
              <label class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="email">
            </div>

<!-- password  -->
            <div class="mb-3">
              <label  class="form-label">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="password">
            </div>

<!-- button  -->
            <button type="button" class="btn btn-primary text-white px-4 " (click)="login()">Login</button>

            <div class="row text-center my-4">
              <div class="col-md-6">
                <a routerLink="/register" class="nav-link text-primary">Need Account ? <span class="text-danger">register</span></a>
              </div>
              <div class="col-md-6">
                  <a class="nav-link text-primary">Forgot Password ?</a>
              </div>
            </div>
            <ngx-spinner
            bdColor="rgba(0, 0, 0, 1)"
            template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />">
          </ngx-spinner>         </form>
        </div>
      </div>
    </div>
  </div>
</div>
