<div class="container p-5">
  <div class="d-flex">
    <div class="row justify-content-start">
      <div class="col-2">
        <app-image-control class="w-100" [width]="150" [height]="150" (imageReady)="imageReady($event)"></app-image-control>
      </div>
    </div>
    <div class="row justify-content-end row-cols-2">
      <div class="col-5">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{"firstName" | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="firstName"  required>
          <button *ngIf="firstName" matSuffix mat-icon-button aria-label="Clear" (click)="firstName=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{"sureName" | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="sureName"  required>
          <button *ngIf="sureName" matSuffix mat-icon-button aria-label="Clear" (click)="sureName=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-10">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{"profession" | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="profession"  required>
          <button *ngIf="profession" matSuffix mat-icon-button aria-label="Clear" (click)="profession=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{"phone" | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="phoneNumber"  required>
          <button *ngIf="phoneNumber" matSuffix mat-icon-button aria-label="Clear" (click)="phoneNumber=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{"yourEmail" | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="value"  required >
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{"country" | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="country">
          <button *ngIf="country" matSuffix mat-icon-button aria-label="Clear" (click)="country=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>City</mat-label>
          <input matInput type="text" [(ngModel)]="city">
          <button *ngIf="city" matSuffix mat-icon-button aria-label="Clear" (click)="city=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

