<div class="container">
<!-- example 1  -->
  <div class="title">Example 1</div>
  <div class="subtitle"></div>
  <mat-card [hidden]="hidden" style="width: 18rem;">
    <mat-card-header class="d-flex justify-content-between">
      <mat-card-title>Card title</mat-card-title>
      <mat-card-subtitle>sub title</mat-card-subtitle>

      <button (click)="action()" align="end" mat-mini-fab color="primary">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit quasi accusantium soluta. Sed expedita ducimus aperiam est voluptates laborum quisquam odio libero rem? Iusto, id.</p>
    </mat-card-content>
    <mat-card-actions align="end">
     <button mat-button [ngClass]="{'color':!onlike}" (click)="like()">{{ onlike ? 'like' : 'liked'}}</button>
     <button mat-button >share</button>
    </mat-card-actions>
    </mat-card><br>
    <mat-divider></mat-divider>
    <br>


<!-- example 2  -->
    <div class="title">example 2</div>
    <div class="m-5 gap-2 d-flex">
      <button mat-button [ngClass]="{'colorblack':colorblack}" (click)="clickBlack('black')">black</button>
      <button mat-button [ngClass]="{'colorblue' :colorblue}" (click)="clickBlue('blue')">blue</button>
      <button mat-button [ngClass]="{'colorred':colorred}" (click)="clickred('red')">red</button>
























      <button mat-button [ngClass]="{'colororange':colororange}" (click)="clickorange('orange')">orange</button>
    </div>
    <p>you clicked {{color}}</p>

</div>

