.color{
  background-color: blue;
  color: white !important;
}

.colorblack{
  background-color: black;
  color: white !important;
}
.colorblue{
  background-color: blue;
  color: white !important;
}
.colorred{
  background-color: red;
  color: white !important;
}
.colororange{
  background-color: orange;
  color: white !important;
}
