<div class="hj-container hj-same-section-padding pt-5">
      <div class="hj-card p-5">

          <form class="w-1/2 mx-auto">
           <div class="">
              <h1 class="my-3">Register</h1>
           </div>

<!-- email  -->
            <mat-form-field class="w-full mb-3">
              <mat-label class="form-label">Email address</mat-label>
              <input matInput type="email" class="form-control" name="email" [(ngModel)]="email">
            </mat-form-field>

<!-- password  -->
            <mat-form-field class="w-full mb-3">
              <mat-label  class="form-label">Password</mat-label>
              <input matInput type="password" class="form-control" name="password" [(ngModel)]="password">
            </mat-form-field>

            <mat-form-field class="w-full mb-3">
              <mat-label  class="form-label">Confirm Password</mat-label>
              <input matInput type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword">
            </mat-form-field>

<!-- button  -->
            <button mat-flat-button color="primary" type="button" class="btn btn-primary text-white px-4 " (click)="register()">Register</button>

            <div class="row text-center my-4">
              <div class="col-md-6">
                <a href="/login" class="nav-link text-primary">Have an Account ? <span class="text-danger">Login</span></a>
              </div>
              <div class="col-md-6">
                  <a href="" class="nav-link text-primary">Forgot Password ?</a>
              </div>

            </div>
          </form>
        </div>
      </div>
