<app-banner-slide></app-banner-slide>
  <!-- <div class="hj-card p-3f">
    <app-mat-dropdown [placeholder]="'Username'" [error]="'Username is required'" [inputType]="'text'"></app-mat-dropdown>
    <app-mat-dropdown [placeholder]="'Email'" [error]="'Email is required'" [inputType]="'email'"></app-mat-dropdown>
    <app-mat-dropdown [placeholder]="'Password'" [error]="'Email is Password'" [inputType]="'password'"></app-mat-dropdown>
  </div> -->
  <div class="hj-container-full hj-same-section-padding mt-5 ">
    <app-premium-employers class="dark:bg-slate-800" [hj_title]="'Premium Job'" (selectedItem)="onItemSelected($event)"></app-premium-employers>
  </div>

  <div class="hj-container-full hj-same-section-padding">
      <div class="hj-container hj-card white-bg">
        <h2 class="hj-card-title">Employer Who Are Hiring {{totalCost}}</h2>
      </div>
  </div>


<app-footer *ngIf="show"></app-footer>

