body{
  height: 100vh;
}
// p{
//   height: 200vh;
// }
swiper-slide{


.bg_resume{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative !important;
  background-image: url("/assets/images/bg_resume.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 200px;

}


}
