<div *ngIf="config['multiSelect']; else singleBlock">

  <mat-form-field  [appearance]="config.appearance" [ngClass]="config.className">
    <mat-label>{{placeholder}}</mat-label>
    <input matInput [type]="inputType">
    <mat-error>{{error}}</mat-error>
  </mat-form-field>
</div>

  <ng-template #singleBlock>
    <mat-form-field [appearance]="config.appearance" [ngClass]="config.className">
      <mat-label>{{placeholder}}</mat-label>
      <mat-chip-grid #chipGrid arial-label="Enter fruit">
        <mat-chip-row>
          <input >
        </mat-chip-row>
      </mat-chip-grid>
    </mat-form-field>
  </ng-template>
