<div class="container  w-75 mt-5 card shadow">
  <div class="card-body">
    <form>
      <div class="mb-3">
        <h4 class="text-dard text-muted">Forgot Password</h4>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="btn btn-info" name="email" [(ngModel)]="email">
      </div>

      <button type="submit" class="btn btn-primary" (click)="forgotPassword()">Send Link</button>
    </form>
    <div class="row">
      <div class="col-6">
        <a class="nav-link" routerLink="/login">Back to <span class=" text-danger">Login</span></a>
      </div>
    </div>
  </div>
</div>

