<div class="title">example 1</div>
<div class="container">
  <div class="box">
    <div class="subtitle">@Input</div>
    <div class="desc">To pass some data from a <b>parent component</b> to the <b>child component </b></div>
  </div>
  <div class="subtitle">Example 1</div>
  <div class="form-group w-25  my-3 d-flex gap-3">
    <input #input type="text" placeholder="input value" class="form-control">
    <button class="btn btn-outline-primary"(click)=onSubmit(input)>submit</button>
  </div>
  <app-child [value]="inputText"></app-child>

<div class="subtitle">Example 2</div>
<app-child [receivedMessage]="parentMessage" ></app-child>
  <div class="box">
    <div class="subtitle">ngOnInit()</div>
    <div class="desc">
      <ul>
        <li>Called once, after the component or directive has been initialized.</li>
        <li>This is a good place to perform initial setup and fetch data.</li>
      </ul>
    </div>
  </div>
  <h2 class="subtitle">{{ngOnInits}}</h2>

  <div class="box">
    <div class="subtitle">ngOnChanges()</div>
    <div class="desc">
      <ul>
        <li>Called when the input properties of a component or directive are changed.</li>
        <li>Receives a SimpleChanges object containing the previous and current values of the input properties.</li>
      </ul>
    </div>
  </div>



</div>
